<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections/>
 <appSettings>
	 <add key="Ind_logoFondoPantalla" value="N"/>
 </appSettings>	
 <connectionStrings>
  <add name="CapaPresentacion.Properties.Settings.Cn" connectionString="Data Source=MARCONB-PC;Initial Catalog=GestionVenta;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
 <!--<add name="CapaPresentacion.Properties.Settings.Cn" connectionString="Data Source=MARCO-PC\MARCO;Initial Catalog=PuntoVentaCompra;User ID=sa;Password=12345"
   providerName="System.Data.SqlClient" />-->
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
<system.web>
	<globalization culture="en-US" uiCulture="en-US"/>
</system.web>
</configuration>
